# Sudoku datasets
data/
sudoku-*/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# Model checkpoints
*.pt
*.pth
checkpoints/